# OS & Editor Files
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
*.log

# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & local secrets
.env
.env.local
.env.*.local
